body{
	margin-left: 5px;
	FONT: 12px ו;
}
A {
	FONT: 12px ו;
	COLOR: blue;
	TEXT-DECORATION: none
}
A:hover {
	COLOR: #428eff;
	TEXT-DECORATION: underline
}
div{
    line-height: 30px;
}
input{
	border-color: #8C8CC6;
    border-width: 1px;
}