/*
    Document   : navigation
    Created on : 2011-11-30, 1:17:21
    Author     : XQ
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root {
    display: block;
}
input[type="submit"]
{
    width:120px;
    display:block;
    font-family: Verdana, Arial;
    color:#FFFFFF;
    border:none;
    background:url(../images/tab_bg.png) ;
    height:30px;
    width:66px;
    margin: 0 4px 0 0;
}
span{
    float:left;
    margin:2px 0px 0 0
}
#current{
    font: 11px Arial;
    font-style:normal;
    color: #000000;
}